In [1]:
import numpy as np
import pandas as pd

In [16]:
from pandas import Series,DataFrame

In [4]:
s = Series(data = [120,136,128,99],index = ['math','python','en','chinese'])
s

math       120
python     136
en         128
chinese     99
dtype: int64

In [5]:
s.shape

(4,)

In [6]:
v = s.values
v

array([120, 136, 128,  99], dtype=int64)

In [7]:
type(v)

numpy.ndarray

In [8]:
s.mean()

120.75

In [9]:
s.max()

136

In [10]:
s.std()

15.903353943953666

In [11]:
s.var()

252.91666666666666

In [13]:
s.pow(2)

math       14400
python     18496
en         16384
chinese     9801
dtype: int64

In [18]:
df = DataFrame(data = np.random.randint(0,150,size = (10,3)),index = list('abcdefghij'),columns=['python','en','math'])
df

   python   en  math
a      27   83    92
b     124   54     2
c     135  102    39
d     109   73    19
e      63  142    84
f      17  124    59
g      78   70    54
h       2   70   139
i     130   14    79
j      20   73    26

In [19]:
df.shape

(10, 3)

In [21]:
v = df.values
v

array([[ 27,  83,  92],
       [124,  54,   2],
       [135, 102,  39],
       [109,  73,  19],
       [ 63, 142,  84],
       [ 17, 124,  59],
       [ 78,  70,  54],
       [  2,  70, 139],
       [130,  14,  79],
       [ 20,  73,  26]])

In [22]:
df.mean()

python    70.5
en        80.5
math      59.3
dtype: float64

In [23]:
df.max()

python    135
en        142
math      139
dtype: int32

In [24]:
df.mean(axis = 0)

python    70.5
en        80.5
math      59.3
dtype: float64

In [25]:
df.mean(axis = 1)

a    67.333333
b    60.000000
c    92.000000
d    67.000000
e    96.333333
f    66.666667
g    67.333333
h    70.333333
i    74.333333
j    39.666667
dtype: float64